/* body {
  margin: 0;
  height: 100vh;
  background: teal - 40%;
} */

div {
  width: 20px;
  margin: 10px;
  height: 20px;
  background: coral;
  display: inline-block;
  border: 1px solid coral;
}

.teal {
  background: teal;
}
